#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


#home {
        background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/41/42/2nolMH.jpg");
        background-repeat: repeat;
        background-position: center;
        background-size: cover ;
        background-attachment: scroll;
        position: relative;
        min-height: 100vh;
}

.footer{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  text-align: center;
  color: aqua;
  width: 100%;
}

#chartdiv {
  width: 100%;
  height: 500px
}

#welcome {
  text-align: center;
  color: aqua;
}